<div class="container" style="width: 1300px;">
  <h1><li class="fas fa-star" style="color: yellow;"></li>Peliculas Favoritas<li class="fas fa-star" style="color: yellow;"></li></h1>
  <div class="row">
    <% for(var x = 0; x <favori.length; x++){ %>  
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img
          src="<%= favori[x].imagenpelicula  %> "
          class="card-img-top"
          height="300"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%= favori[x].titulopelicula  %> </h5>
          <p class="card-text"></p>
          <a href="#" class="btn btn-primary form-control">Pelicula</a>
          <p>ID:<%= favori[x].idpeliculafav  %> </p>
          <a href="/eliminar/pelicula/<%=favori[x]._id%>" title='eliminar pelicula'>  <img src="https://image.flaticon.com/icons/svg/458/458594.svg" alt="" height='30' width='30'></a>
        </div>
      </div>
    </div>
  <% } %> <% if (favori=='') { %> 
    <h1 style='margin-left: 340px;'>No hay peliculas en favoritos</h1>
    <% } %> 
    </div>
  
    <h1><li class="fas fa-star" style="color: yellow;"></li>Series Favoritas<li class="fas fa-star" style="color: yellow;"></li></h1>
  <div class="row">
    <% for(var y = 0; y <favoriserie.length; y++ ){ %> 
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <img
          src="<%= favoriserie[y].imagenserie %> "
          class="card-img-top"
          height="300"
          alt="..."
        />
        <div class="card-body">
          <h5 class="card-title"><%=favoriserie[y].tituloserie  %> </h5>
         <a href="#" class="btn btn-danger form-control">Serie</a>
          <p class="card-text">ID:<%=favoriserie[y].idseriefav  %> </p>
        <a href="/eliminar/serie/<%=favoriserie[y]._id%>" title='eliminar serie'>  <img src="https://image.flaticon.com/icons/svg/458/458594.svg" alt="" height='30' width='30'></a>
        </div>
      </div>
    </div>
  <% } %> 
  <% if (favoriserie=='') { %> 
    <h1 style='margin-left: 360px;'>No hay Series en favoritos</h1>
    <% } %> 
  </div>
</div>
</div>